@charset "UTF-8";
body {
  font-family: "Sawarabi Mincho";
  font-size: 62.5%;
  color: #333333;
  background-color: #272727;
  ;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.pc-only {
  display: flex;
}

.sp-only {
  display: none;
}


/* ヘッダー */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: auto;
  background: #272727;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
}

header h1 img {
  width: 160px;
  height: 50px;
}

header nav {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

header nav ul li+li {
  margin-left: 3em;
}

header nav ul li a {
  font-size: .9rem;
  color: #fff;
}

header ul.language {
  display: flex;
  justify-content: flex-start;
  margin-left: 3em;
}

header ul.language li+li {
  border-left: solid 1px #fff;
  margin-left: 0;
}

header ul.language li a {
  font-size: .9rem;
  color: #fff;
  font-family: 'Philosopher', sans-serif;
  padding: 0 1em;
}

header ul.language li a.current {
  color: #d64d2b;
}

header button.reservation-btn {
  font-family: inherit;
  background: #d64d2b;
  border: none;
  width: 70px;
  height: 54px;
  margin-left: 3em;
  position: relative;
}

header button.reservation-btn:hover {
  background: #df7b00;
}

header button.reservation-btn a {
  color: #fff;
  display: block;
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 100%;
}


/* メインギャラリー */

.main-visual {
  margin-top: 50px;
  margin-bottom: 100px;
  position: relative;
}

.main-visual .gallery-cell {
  width: 100%;
  height: auto;
}

.main-visual .gallery-cell img {
  width: 100%;
  height: 100%;
}

.main-visual::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 47%;
  transform: translate(-30%, -47%);
  -webkit-transform: translate(-30%, -47%);
  -ms-transform: translate(-30%, -47%);
  -moz-transform: translate(-30%, -47%);
  -o-transform: translate(-30%, -47%);
  z-index: 100;
  background-image: url(../images/logo-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}

.ja-catch::after {
  content: "はじめて来たのに何故か懐かしい、安らぎの老舗ホテル";
  position: absolute;
  top: 60%;
  left: 54%;
  transform: translate(-60%, -54%);
  -webkit-transform: translate(-60%, -54%);
  -ms-transform: translate(-60%, -54%);
  -moz-transform: translate(-60%, -54%);
  -o-transform: translate(-60%, -54%);
  z-index: 100;
  font-size: 1.4rem;
  color: #fff;
}

.en-catch::after {
  content: "A long-established hotel with peace of mind nostalgic for the first time";
  position: absolute;
  top: 60%;
  left: 54%;
  transform: translate(-60%, -54%);
  -webkit-transform: translate(-60%, -54%);
  -ms-transform: translate(-60%, -54%);
  -moz-transform: translate(-60%, -54%);
  -o-transform: translate(-60%, -54%);
  z-index: 100;
  font-size: 1.4rem;
  color: #fff;
}


/* お部屋、温泉 */

article.contents {
  margin-top: 0;
}

article.left-img {
  position: relative;
  width: 100%;
  height: 600px;
}

article.left-img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 600px;
}

.contents-img-1::before {
  background-image: url(../images/contents-1.png);
}

.contents-img-3::before {
  background-image: url(../images/contents-3.png);
}

article.left-img .contents-text {
  position: absolute;
  left: 300px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 2;
  background: rgba(252, 252, 252, 0.95);
  padding: 90px;
  border-radius: 5px;
  box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.08);
}

.contents-text span {
  color: #d64d2b;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Philosopher', sans-serif;
  margin-bottom: 1em;
  display: block;
}

.contents-text h2 {
  font-size: 1.4rem;
  margin-bottom: 1em;
}

.contents-text p {
  font-size: .9rem;
  margin-bottom: 3em;
  line-height: inherit;
}

.contents-text .more-btn {
  position: relative;
  display: inline-block;
  color: #d64d2b;
  font-size: .9rem;
  background: none;
  border: 1px solid #d64d2b;
  border-radius: 5px;
  padding: 1em 2.6em 1em 1.6em;
  transition: all 0.3s ease 0s;
}

.contents-text .more-btn::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 39%;
  bottom: 0;
  z-index: 3;
  background-image: url(../images/arr_orange.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 6px;
}

.contents-text .more-btn:hover {
  color: #fff;
  background: #d64d2b;
}

.contents-text .more-btn:hover::after {
  background-image: url(../images/arr_white.svg);
}


/* お食事 */

article.right-img {
  position: relative;
  width: 100%;
  height: 600px;
}

article.right-img::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 600px;
}

.contents-img-2::before {
  background-image: url(../images/contents-2.png);
}

.contents-img-4::before {
  background-image: url(../images/contents-4.png);
}

article.right-img .contents-text {
  position: absolute;
  right: 300px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 2;
  background: rgba(252, 252, 252, 0.95);
  padding: 90px;
  border-radius: 5px;
  box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.08);
}


/* アクセス、予約 */

#access, #reservation {
  width: 980px;
  margin: 100px auto 0;
}

#access span.sub, #reservation span.sub {
  color: #d64d2b;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  margin-bottom: .5em;
  display: block;
}

#access h2, #reservation h2 {
  font-size: 1.4rem;
  margin-bottom: 1em;
  color: #fff;
  text-align: center;
}


/* アクセス */

#access p {
  color: #fff;
  font-size: .9rem;
  margin-bottom: 1em;
}

#access .gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

#access .gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin-top: 40px;
}


/* ご予約 */

#reservation {
  margin-bottom: 100px;
}

.reservation-box {
  display: flex;
  justify-content: space-between;
}

.reservation-box #room-gallery {
  width: 600px;
}

.reservation-box #room-gallery .room-gallery-cell {
  width: 600px;
  position: relative;
}

.reservation-box #room-gallery .room-gallery-cell h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: block;
  width: 600px;
  color: #fff;
  font-size: .9rem;
  background: rgba(80, 80, 80, 0.95);
  padding: .5em;
}

.reservation-box .reservation-form {
  background: rgba(252, 252, 252, 0.95);
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.08);
}

.reservation-box .reservation-form li {
  margin-bottom: 1em;
}

.reservation-box .reservation-form li p {
  font-size: .8rem;
}

.reservation-box .reservation-form li p input, .reservation-box .reservation-form li .select {
  width: 100%;
  font-size: 1rem;
  padding: .5em;
}

.reservation-box .reservation-form li.last {
  text-align: center;
}

.reservation-box .reservation-form li .submit-btn {
  display: inline-block;
  color: #fff;
  font-size: .9rem;
  font-family: inherit;
  background: #d64d2b;
  border-radius: 5px;
  border: none;
  padding: 1em 1.6em;
  margin-top: 2em;
  transition: all 0.3s ease 0s;
  outline-style: none;
}

.reservation-box .reservation-form li .submit-btn:hover {
  background: #df7b00;
}


/* フッター */

footer {
  width: 100%;
  background: #d64d2b;
}

footer .address {
  text-align: center;
  padding: 2em 0;
}

footer .address img {
  width: 160px;
  height: 50px;
}

footer .address p {
  color: #fff;
  font-size: .8rem;
}

footer .address p span {
  font-size: 1rem;
}

footer .copyright {
  background: #fff;
  color: #333333;
  text-align: center;
  padding: 1em 0;
}


/*アニメ―ションする要素を非表示にする*/

.invisible {
  visibility: hidden;
}

@media screen and (max-width: 960px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  /* ヘッダー */
  header {
    justify-content: flex-end;
  }
  header button.reservation-btn {
    margin-left: 2em;
  }
  .hamberger-menu {
    display: inline-block;
    width: 24px;
    height: 18px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    margin-left: auto;
  }
  .hamberger-menu span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d64d2b;
    transition: all .5s;
  }
  .hamberger-menu span:nth-of-type(1) {
    top: 0;
  }
  .hamberger-menu.open span:nth-of-type(1) {
    transform: translateY(6px) rotate(-45deg);
    -webkit-transform: translateY(6px) rotate(-45deg);
    -moz-transform: translateY(6px) rotate(-45deg);
    -ms-transform: translateY(6px) rotate(-45deg);
    -o-transform: translateY(6px) rotate(-45deg);
  }
  .hamberger-menu span:nth-of-type(2) {
    top: 8px;
  }
  .hamberger-menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .hamberger-menu span:nth-of-type(3) {
    bottom: 0;
  }
  .hamberger-menu.open span:nth-of-type(3) {
    transform: translateY(-10px) rotate(45deg);
    -webkit-transform: translateY(-10px) rotate(45deg);
    -moz-transform: translateY(-10px) rotate(45deg);
    -ms-transform: translateY(-10px) rotate(45deg);
    -o-transform: translateY(-10px) rotate(45deg);
  }
  header nav {
    display: block;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 54px;
    right: 0;
    z-index: 200;
    background: rgba(252, 252, 252, 0.95);
    padding: 3em;
  }
  header nav ul {
    display: block;
  }
  header nav ul li {
    margin-top: 1em;
  }
  header nav ul li+li {
    margin-left: 0;
  }
  header nav ul li a {
    color: #333333;
  }
  header nav ul li a:hover {
    color: #d64d2b;
  }
  header ul.language {
    margin-top: 2em;
    margin-left: -1em;
  }
  header ul.language li+li {
    border-left: solid 1px #272727;
    margin-left: 0;
  }
  header ul.language li a {
    color: #333333;
  }
  /* メインギャラリー */
  .main-visual::before {
    left: 45%;
    transform: translate(-30%, -45%);
    -webkit-transform: translate(-30%, -45%);
    -ms-transform: translate(-30%, -45%);
    -moz-transform: translate(-30%, -45%);
    -o-transform: translate(-30%, -45%);
    width: 150px;
    height: 150px;
  }
  .ja-catch::after, .en-catch::after {
    top: 75%;
    left: 60%;
    transform: translate(-75%, -60%);
    -webkit-transform: translate(-75%, -60%);
    -ms-transform: translate(-75%, -60%);
    -moz-transform: translate(-75%, -60%);
    -o-transform: translate(-75%, -60%);
    font-size: 1.2rem;
    text-align: center;
  }
  /* コンテンツ */
  article.left-img .contents-text, article.right-img .contents-text {
    padding: 60px;
  }
  /* アクセス、予約 */
  #access, #reservation {
    width: 90%;
    margin: 80px auto 0;
  }
  /* ご予約 */
  #reservation {
    margin-bottom: 80px;
  }
  .reservation-box {
    display: block;
  }
  .reservation-box #room-gallery {
    width: 600px;
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 640px) {
  /* ヘッダー */
  header nav {
    width: 200px;
  }
  /* メインギャラリー */
  .main-visual {
    margin-bottom: 60px;
  }
  .main-visual .gallery-cell {
    width: 100%;
    height: 25vh;
  }
  .main-visual .gallery-cell img {
    width: 100%;
    height: 100%;
  }
  .main-visual::before {
    left: 45%;
    transform: translate(-30%, -20%);
    -webkit-transform: translate(-30%, -20%);
    -ms-transform: translate(-30%, -20%);
    -moz-transform: translate(-30%, -20%);
    -o-transform: translate(-30%, -20%);
    width: 80px;
    height: 80px;
  }
  .ja-catch::after, .en-catch::after {
    content: "";
  }
  /* コンテンツ */
  article.left-img, article.right-img {
    height: 450px;
  }
  article.left-img::before, article.right-img::before {
    width: 70%;
    height: 300px;
  }
  article.left-img .contents-text {
    left: 20%;
  }
  article.right-img .contents-text {
    right: 20%;
  }
  article.left-img .contents-text, article.right-img .contents-text {
    padding: 2em;
  }
  .contents-text h2 {
    font-size: 1.2rem;
  }
  .contents-text p {
    font-size: .8rem;
    margin-bottom: 2em;
  }
  .contents-text .more-btn {
    font-size: .8rem;
  }
  /* アクセス */
  #access {
    margin-top: 0;
  }
  #access p {
    color: #fff;
    font-size: .9rem;
    margin-bottom: 1em;
  }
  #access .gmap {
    padding-bottom: 76.25%;
  }
  #access .gmap iframe {
    margin-top: 20px;
  }
  /* ご予約 */
  .reservation-box #room-gallery {
    width: 100%;
  }
  .reservation-box #room-gallery .room-gallery-cell {
    width: 100%;
  }
  .reservation-box #room-gallery .room-gallery-cell img {
    width: 100%;
    height: 267px;
  }
  .reservation-box .reservation-form {
    padding: 30px;
  }
}